.footer {
    height: 10vw;
    width: 100%; 
    position: absolute;
    background-image: url('http://24.media.tumblr.com/tumblr_mdta50e8IX1rlbw7io1_250.gif');
    // background-color: #575757;
    padding-top: -4em;
    text-align: center;
    margin-top: 30em;
    opacity: .5;
    // font-style: italic;
}