.footer {
    height: 5vw;
    width: 100%; 
    position: absolute;
    background-color: #575757;
    padding-top: 1em;
    text-align: center;
    margin-top: 30em;
    opacity: .7;
    // font-style: italic;
}