.footer {
    height: 3vw;
    width: 100%; 
    position: absolute;
    background-color: #575757;
    padding-top: 1.5em;
    text-align: center;
    margin-top: 40em;
    opacity: .7;
    // font-style: italic;
}