<div class="body">
<h1 class="heading">
This is the About us
</h1>
<br>
<h3>Project Developers</h3>
<div class="card">
    <div>"Kerry Bodle. Starting life out in Engineering design, Kerry's projects include working with Rolls Royce Aerospace to design aircraft engine systems including the F-35 Joint Strike Fighter. Some accomplishments include various patents in the biomedical field, automotive transmission systems as well as dabbeling in the tech startup world. Now, on a quest for coding knowledge at ElevenFifty coding Accademy, Kerry will move on to using his skills to eventual world domination."</div>
 </div>
 <br>
 <div class="card">
    <div>"Hey, my name is Cody Jones and I really like saving money. I also really like nerdy merchandise. I always thought to myself, “Cody, why can’t these things happen at the same time? That’d be cool.” And so I helped build this app. If you also like saving money and nerdy stuff, maybe you should make an account. Your wallet will thank you for it. And I’ll thank you for it because knowing that someone is benefiting from my hard work might fill the gaping, empty hole in my being that haunts me at night. Probably not, but who knows. It’s worth a shot."</div>
 </div>
 <br>
 <div class="card">
    <div>"I'm Kyle! I like long walks on the beach, writing code that works, and robots. Really big robots. I handled a lot of the database logic for this SavePoint project with a good amount of help from my friends. I am based out of Indiana, the Silicon Valley of the midwest. Here I study JavaScript, play video games, and read comic books. I can often be found walking around park in Indianapolis catching digital critters in Pokemon GO. Challenge me to a Super Smash Bros Ultimate match, if you dare. Thanks for visiting my page!"</div>
 </div>
 <br>
 <div class="card">
    <div>"Here's a small blurb for the about me.. "Sitting at the precipice of life, my sights naturally seem to fall upon the horizon. What I see are many roads. Roads that have led me to climb this mountain. This journey has been long. Many nights I've wondered alone. Searching, seeking. Only to find more questions than answers. One day soon I'll stand atop my mountain, When all has come to pass, Only then will I know.  ~Christian Johnson~"</div>
 </div>
 <br>
<!-- <div class="contact-form">
    <h1>Contact us!</h1>
 <form method="POST" action="https://formspree.io/LiquidChickenQQ@gmail.com">
    <div class="email">
    <input type="email" name="email" placeholder="Your email">
    </div>
    <div class="message">
    <textarea name="message" placeholder="Message"></textarea>
    </div>
    <div class="submit">
    <button type="submit">Send</button>
    </div>
    </form>
</div> -->

<header>CONTACT US!</header>

<form (submit)="onSubmit()" form method="POST" action="https://formspree.io/LiquidChickenQQ@gmail.com" id="form" class="topBefore">		
		  <input id="name" type="text" placeholder="NAME">
		  <input name="email" id="email" type="text" placeholder="E-MAIL">
		  <textarea name="message" id="message" type="text" placeholder="MESSAGE"></textarea>
  <input id="submit" type="submit" value="SUBMIT"> 
</form>
<br>
</div>
