<div class="body">
<h1 class="heading">
This is the About us page
</h1>
<br>
<div class="card">
    <div>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
 </div>
 <br>
 <div class="card">
    <div>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
 </div>
 <br>
 <div class="card">
    <div>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
 </div>
 <br>
 <div class="card">
    <div>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
 </div>
 <br>
<!-- <div class="contact-form">
    <h1>Contact us!</h1>
 <form method="POST" action="https://formspree.io/LiquidChickenQQ@gmail.com">
    <div class="email">
    <input type="email" name="email" placeholder="Your email">
    </div>
    <div class="message">
    <textarea name="message" placeholder="Message"></textarea>
    </div>
    <div class="submit">
    <button type="submit">Send</button>
    </div>
    </form>
</div> -->

<header>CONTACT US!</header>

<form form method="POST" action="https://formspree.io/LiquidChickenQQ@gmail.com" id="form" class="topBefore">		
		  <input id="name" type="text" placeholder="NAME">
		  <input name="email" id="email" type="text" placeholder="E-MAIL">
		  <textarea name="message" id="message" type="text" placeholder="MESSAGE"></textarea>
  <input id="submit" type="submit" value="SUBMIT"> 
</form>
</div>

