

// .form-group {
//     margin-top: 1em;
//     padding: 1em;
//     border: .05em solid #000000;
//     border-radius: .1em;
//     // box-shadow: 1px 1px 30px 8px #f0f0f0;
//     text-align: center;
// }

// .form-groupContainer {
//     border: .2em solid black;
// }
   
    
 
mat-card {    
    max-width: 50%;    
    margin: 9em auto;    
    text-align: center;    
    background-image: url('http://49.media.tumblr.com/a01ac747cacca4c6d014b0f5e39465ff/tumblr_myjokwPtJd1qcc19mo1_500.gif');
    background-size: 15em;
    background-repeat: no-repeat;
    padding: 6em;
}    
    
mat-toolbar-row {    
    justify-content: space-between;    
}    
    

             
   
    
    
    
 
    
   
    
 
