<mat-card>
    <mat-card-title>Login Baby ;)</mat-card-title>
    <br>
    <mat-card-content [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input formControlName="username" matInput placeholder="Username Please">
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
            <input  formControlName="password" matInput placeholder="Password Please">
        </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-actions>
            <button type="submit" 
            mat-raised-button 
            matTooltip='Smash This!!'
            aria-label="Button that displays a tooltip when focused or hovered over">Login</button>
            <button matToolTip="Smash This!!" mat-raised-button [routerLink]='["/register"]'>Register</button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>


 