<mat-card>
    <mat-card-title>Login Baby ;)</mat-card-title>
    <br>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input type='text' formControlName="username" matInput placeholder="Username Please">
            </mat-form-field>
            <br>
            <br>
            <mat-form-field>
                <input type="password" formControlName="password" matInput placeholder="Password Please">
            </mat-form-field>
            <mat-card-actions>
                <button type="submit" mat-raised-button matTooltip='Smash This!!' aria-label="Button that displays a tooltip when focused or hovered over">Login</button>
                <button matToolTip="Smash This!!" mat-raised-button [routerLink]='["/register"]'>Register</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>