<div class="example-container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Bio:" formControlName="bio">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Twitter Handle:" formControlName="twHandle">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Facebook URL:" formControlName="fbUrl">
      </mat-form-field>  
      <br>
    <mat-form-field>
      <mat-select placeholder="Gender">
        <mat-option value="option">Male</mat-option>
        <mat-option value="option">Female</mat-option>
        <mat-option value="option">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit" *ngIf="token !== null || undefined">Confirm Profile</button>
  </form>
</div>

<br>
  <ul>
    <li *ngFor="let profile of profile">
      <p>{{ profile.bio }}</p>
      <p>{{ profile.twHandle }}</p>
      <p>{{ profile.fbUrl }}</p>
      <button (click)="deleteProfile(profile.id)" *ngIf="token !== null || undefined"> Delete </button>
      <button (click)="editProfile(profile.id)" *ngIf="token !== null || undefined"> Edit </button>
    </li>
  </ul>
