.example-container {
  display: flex;
  flex-direction: column;
}

.createCard {
  text-align: center;
  width: 20em;
}

.profileCard {
  text-align: center;
  width: 30em;
  
}

body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRucBZkHGaXwkdvxVrLhJHmWsj-I5cA6dTgdG0Ddbjci3Fsfgu8');
}

