<div class="example-container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Bio:" formControlName="bio">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Twitter Handle:" formControlName="twHandle">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Facebook URL:" formControlName="fbUrl">
      </mat-form-field>  
      <br>
    <mat-form-field>
      <mat-select placeholder="Gender">
        <mat-option value="option">Male</mat-option>
        <mat-option value="option">Female</mat-option>
        <mat-option value="option">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" *ngIf="token !== null || undefined">Confirm Profile</button>
  </form>
</div>