<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="First Name">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Last Name">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Username Name">
    </mat-form-field>  

  <mat-form-field>
    <textarea matInput placeholder="Bio"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Gender">
      <mat-option value="option">Male</mat-option>
      <mat-option value="option">Female</mat-option>
      <mat-option value="option">Other</mat-option>
    </mat-select>
  </mat-form-field>
</div>