.controllerImg {
  height: 6em;
  width: 6em;
}

.gbImg {
  height: 6em;
}

.slideImg {
  display: block;
  width: 100%;
  image-orientation: flip; 
}

// .whatIs {
//   margin-right: 25em;
//   margin-left: 25em;
// }

.gameCarousel {
  min-height: 500px;
  margin-bottom: 60px;


  .cSlide {
    height: 45em;
  }
}

mat-card {    
  max-width: 50%;     
  margin: 4em auto;   
  text-align: center;    
}    
