<mat-card>
<section style="text-align: center;">
  <div>
    <img class="controllerImg" src="assets/Video-Game-Controller-Icon.svg">
    <br>
    <br>
    <p>"The best deals service for gaming geeks!"</p>
  </div>
</section>
</mat-card>

<carousel data-interval="10000" class="gameCarousel">
    <slide class="cSlide">
      <img class="slideImg" src="https://media.giphy.com/media/BHNfhgU63qrks/source.gif" alt="first slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Hot New Deals</h3>
        <p>See the latest deals on SavePoint's article boards!</p>
      </div>
    </slide>
    <slide class="cSlide">
      <img class="slideImg" src="https://i.pinimg.com/originals/e1/91/a8/e191a896209c083e069cc0c99b8c003d.gif" alt="second slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>SavePoint News</h3>
        <p>Information about updates and happening around SavePoint.</p>
      </div>
    </slide>
    <slide class="cSlide">
      <img class="slideImg" src="https://i.imgur.com/9O2mh9S.gif" alt="third slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Sign Up</h3>
        <p>Want the best deals on games from SavePoint? Sign up today!</p>
      </div>
    </slide>
</carousel>

<mat-card>
<section style="text-align: center;">
  <div>
    <img class="gbImg" src="assets/Game-1294305.svg">
    <br>
    <br>
    <div class="whatIs">
      <h2>What is SavePoint?</h2>
      <p style="text-align: center;">SavePoint is a web app made by geeks, for geeks.
      Here at SavePoint we know how much gaming means to you, as well as good deals on
      gaming products. And you should trust us because we're also huge nerds.</p>
      </div>
  </div>
</section>
</mat-card>

  <!-- <carousel [interval]="myInterval" [(activeSlide)]="activeSlideIndex" >
  <slide *ngFor="let slide of slides; let index=index">
    <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
 
    <div class="carousel-caption">
      <h4>Slide {{index}}</h4>
      <p>{{slide.text}}</p>
    </div>
  </slide>
</carousel>
<br/>
<div>
  <span>Interval, in milliseconds (Enter a negative number or 0 to stop the interval.): </span>
  <input type="number" class="form-control" [(ngModel)]="myInterval">
</div> -->
