<!-- <mat-card>
  <mat-card-title>Register Baby ;)</mat-card-title>
  <br>
  <mat-card-content [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
          <input type="text" name="firstName" formControlName="firstName" 
          class="form-control" matInput placeholder="First Name Please">
      </mat-form-field>
      <br>
      <mat-form-field>
          <input type="text" name="lastName" formControlName="lastName" 
          class="form-control" matInput placeholder="Last Name Please">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" name="username" formControlName="username" 
        class="form-control" matInput placeholder="UserName Please">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input type="text" name="password" formControlName="password" 
        class="form-control" matInput placeholder="Password Please">
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
      <mat-card-actions>
          <button mat-raised-button [routerLink]='["/login"]'>Login</button>
          <button class="submit" mat-raised-button>Register</button>
      </mat-card-actions>
  </mat-card-footer>
</mat-card> -->

<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button type= "submit" class="btn btn-primary">Register</button>
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
</form>
