<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" formControlName="firstName" />
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" formControlName="lastName" />
  </div>

  <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" formControlName="username" />
  </div>
  <div class="form-group">      
        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password" />
  </div>
  <div class="form-group">
        <button type="submit">Register</button>
        <a [routerLink]="['/login']">Cancel</a>
  </div>      
</form>
