<mat-card>
  <mat-card-title>Register Baby ;)</mat-card-title>
  <br>
  <mat-card-content [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
          <input type="text" name="firstName" formControlName="firstName" 
          class="form-control" matInput placeholder="First Name Please">
      </mat-form-field>
      <br>
      <mat-form-field>
          <input type="text" name="lastName" formControlName="lastName" 
          class="form-control" matInput placeholder="Last Name Please">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" name="username" formControlName="username" 
        class="form-control" matInput placeholder="UserName Please">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input type="text" name="password" formControlName="password" 
        class="form-control" matInput placeholder="Password Please">
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
      <mat-card-actions>
          <button mat-raised-button [routerLink]='["/login"]'>Login</button>
          <button type="submit" mat-raised-button>Register</button>
      </mat-card-actions>
  </mat-card-footer>
</mat-card>
